body {
  background-color: #ebceed;
}

table {
  border: 2px red dashed;
}

th, td {
  border: 1px solid blue;
}



input[type="text"]
      {
         width: 200px;
         border: 1px solid #CCC;
      }
